@import '../../../styles/styles.scss';
//
h1, h2 {
  font-family: $font-family-header;
  color: $color-base;
}

h1 {
  font-size: $font-size-lg;
}

h2 {
  font-size: $font-size-regular;
  overflow-y: auto;
}
.card-body {
  height: 200px;
  width: 200px;
  padding: 1em 2em;
  margin-bottom: 3em;
  cursor: pointer;
  @include card-box-shadow();
  @include snipped-card-bg($color-primary);
}
