<div class="card-body" fxLayout="column" fxLayoutAlign="center center">
  <div class="icon">
    <i class="fas fa-plus-circle fa-5x"></i>
  </div>
</div>
<app-modal-window>
  <form fxLayout="column"
        fxLayoutAlign="space-around stretch"
        fxLayoutGap="0.5em"
        (ngSubmit)="addSnippet()"
        #snippetForm="ngForm">
    <div fxFlex fxFlexOrder="1">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" required>
    </div>
    <div fxFlex fxFlexOrder="2">
      <label for="description">Description</label>
      <input type="text" id="description" class="form-control" required>
    </div>
    <div fxFlex fxFlexOrder="3">
      <label for="code">Code Snippet</label>
      <textarea class="form-control" id="code" cols="30" rows="10" required></textarea>
    </div>
    <div fxFlexOrder="4" fxLayout="row" fxLayoutAlign="end center">
      <button type="submit">Save</button>
    </div>
  </form>
</app-modal-window>
