$font-light: 400;
$font-regular: 500;
$font-bold: 700;
$font-dark: 900;

$font-family-header: 'Roboto', sans-serif;
$font-family-body: 'Roboto', sans-serif;

$font-size-lg: 1.25em;
$font-size-regular: 0.75em;

$color-primary: #26A8C6;
$color-secondary: #C8F5FF;
$color-base: #FFF;
